* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin: 2vw;
  color: black;
}

p {
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: black;
}

.gitlab {
  text-decoration: none;
  margin: 1vw;
  font-size: 2vw;
  width: 8vw;
  height: 5vh;
  background-color: black;
  color: white;
  border-radius: 15px;
  text-align: center;
}
